[Desktop Entry]
Name=SRF Play
Comment=Public broadcaster from Switzerland
Exec=chromium --start-fullscreen --new-window https://www.srf.ch/play/tv
Icon=/usr/share/webapps/srf-play.png
Type=Application
Categories=AudioVideo;Video;Switzerland;
Terminal=false
StartupWMClass=chromium
