[Desktop Entry]
Name=Crunchyroll
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://www.crunchyroll.com/
Icon=/usr/share/webapps/crunchyroll.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
