[Desktop Entry]
Name=HBO Max
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://www.hbomax.com/
Icon=/usr/share/webapps/hbo-max.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
