[Desktop Entry]
Name=Netflix
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://www.netflix.com/
Icon=/usr/share/webapps/netflix.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
