[Desktop Entry]
Name=Pluto TV
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://pluto.tv/
Icon=/usr/share/webapps/pluto-tv.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
