[Desktop Entry]
Name=RAKUTEN TV
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://rakuten.tv/
Icon=/usr/share/webapps/rakuten-tv.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
