[Desktop Entry]
Name=Red Bull TV
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://www.redbull.com/live-events/
Icon=/usr/share/webapps/rb.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
