[Desktop Entry]
Name=Tidal
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://tidal.com/
Icon=/usr/share/webapps/tidal.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
