[Desktop Entry]
Name=Twitch
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://www.twitch.tv/
Icon=/usr/share/webapps/twitch.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
