[Desktop Entry]
Name=Viaplay
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://viaplay.com/
Icon=/usr/share/webapps/viaplay.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
