[Desktop Entry]
Name=Vix+
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://vix.com/
Icon=/usr/share/webapps/vix.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
