[Desktop Entry]
Name=YouTube Gaming
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://gaming.youtube.com/
Icon=/usr/share/webapps/youtube-gaming.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
