[Desktop Entry]
Name=YouTube Music
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://music.youtube.com/
Icon=/usr/share/webapps/youtube-music.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
