[Desktop Entry]
Name=YouTube
Comment=Public broadcaster from Global
Exec=chromium --start-fullscreen --new-window https://www.youtube.com/
Icon=/usr/share/webapps/youtube.png
Type=Application
Categories=AudioVideo;Video;Global;
Terminal=false
StartupWMClass=chromium
